<?xml version="1.0"?>
<config>
    <modules>
        <Firebear_GitHub>
            <version>0.0.1</version>
        </Firebear_GitHub>
    </modules>
    <global>
    	<helpers>
            <github>
                <class>Firebear_GitHub_Helper</class>
            </github>
        </helpers>
        <blocks>
             <github>
                <class>Firebear_GitHub_Block</class>
             </github>
        </blocks>
        <models>
            <github>
                <class>Firebear_GitHub_Model</class>
            </github>
        </models>
    </global>
    <frontend>
        <routers>
            <github>
                <use>standard</use>
                <args>
                    <module>Firebear_GitHub</module>
                    <frontName>github</frontName>
                </args>
            </github>
        </routers>
	</frontend>
	<admin>
        <routers>
            <adminhtml>
                <args>
                   <modules>
                        <github after="Mage_Adminhtml">Firebear_GitHub</github>
                    </modules>
                </args>
            </adminhtml>
        </routers>
   </admin>
    <!--<adminhtml>
        <layout>
            <updates>
                <adminhtml>
                    <file>Firebear_GitHub_admin.xml</file>
                </adminhtml>
            </updates>
        </layout>
    </adminhtml>-->
    <!--<default>
        <Firebear_GitHub>
            <general>
                <enabled>1</enabled>
            </general>
        </Firebear_GitHub>
    </default>-->
</config>